.information-notice__container {
  width: 75%;
}

.information-notice__news-link {
  height: 42px;
  position: relative;
  padding: 0 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font: 14px/41px Plumb, Arial, Helvetica, sans-serif;
}

.information-notice__news-link a {
  color: red;
  text-decoration: none;
}

.information-notice__news-link:hover {
  text-decoration: underline;
}

.information-notice__information-block {
  display: flex;
  height: 295px;
}

.information-block__column {
  width: 33.3%;
  background-color: #1f2428;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
}

.information-block__column:not(.information-block__column:last-child) {
  border-right: 1px solid black;
}

.information-block__title {
  margin: 12px 0px 8px;
  padding: 0px 20px;
  cursor: pointer;
}

.information-block__title:hover {
  text-decoration: underline;
}
.information-block__text {
  margin: 0px;
  padding: 0px 20px;
  line-height: 21px;
}

@media screen and (max-width: 1300px) {
  .information-block__text {
    padding-right: 11px;
  }
}

.information-block_git_column-image {
  height: inherit;
  display: flex;
  align-items: flex-end;
}

.information-notice__slider-container {
  max-width: 944px;
  max-height: 520px;
  overflow: hidden;
}

.slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.slider-wrapper {
  overflow: hidden;
  position: relative;
}

.information-arrows__prev {
  position: absolute;
  opacity: 0.4;
  left: -50px;
  transition: left 0.5s ease;
  top: 0%;
  width: 50px;
  height: 100%;
  background: url(image/slider__buttons.png) center left no-repeat;
}

.information-arrows__next {
  position: absolute;
  opacity: 0.4;
  right: -50px;
  transition: right 0.5s ease;
  top: 0%;
  width: 50px;
  height: 100%;
  background: url(image/slider__buttons.png) center right no-repeat;
}

.information-arrows__next:hover {
  opacity: 1;
}

.information-arrows__prev:hover {
  opacity: 1;
}

.slider-line__item {
  min-width: 100%;
}

.slider-line__item {
  position: relative;
}

.images-arrow {
  width: 1px;
  height: 1px;
  border: 30px solid transparent;
  border-left: 30px solid #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  opacity: 0.7;
}

.images-arrow:hover {
  opacity: 1;
}

.slide-active {
  color: red;
}

.slide-active:hover {
  color: red;
}

.slider-line__item-scrinshot {
  min-width: 100%;
}

.information-arrows__prev-scrinshot {
  position: absolute;
  opacity: 0.4;
  left: -50px;
  transition: left 0.5s ease;
  top: 0%;
  width: 50px;
  height: 100%;
  background: url(image/slider__buttons.png) center left no-repeat;
}

.information-arrows__prev-scrinshot:hover {
  opacity: 1;
}

.information-arrows__next-scrinshot {
  position: absolute;
  opacity: 0.4;
  right: -50px;
  transition: right 0.5s ease;
  top: 0%;
  width: 50px;
  height: 100%;
  background: url(image/slider__buttons.png) center right no-repeat;
}

.information-arrows__next-scrinshot:hover {
  opacity: 1;
}

.slider-line__scrinshot {
  display: flex;
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.slider-line__item-scrinshot img {
  height: 100%;
}

/* ================================================= */

.slider-line__item-wallpaper {
  min-width: 100%;
}

.information-arrows__prev-wallpaper {
  position: absolute;
  opacity: 0.4;
  left: -50px;
  transition: left 0.5s ease;
  top: 0%;
  width: 50px;
  height: 100%;
  background: url(image/slider__buttons.png) center left no-repeat;
}

.information-arrows__prev-wallpaper:hover {
  opacity: 1;
}

.information-arrows__next-wallpaper {
  position: absolute;
  opacity: 0.4;
  right: -50px;
  transition: right 0.5s ease;
  top: 0%;
  width: 50px;
  height: 100%;
  background: url(image/slider__buttons.png) center right no-repeat;
}

.information-arrows__next-wallpaper:hover {
  opacity: 1;
}

.slider-line__wallpaper {
  display: flex;
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.slider-line__item-wallpaper img {
  height: 100%;
}

.information-notice__slider {
  display: none;
}

.activeSliders {
  display: block;
}

/* ======ASIDE======================= */
.information-notice__aside {
  width: 25%;
  min-width: 315px;
}

.aside__content-block {
  height: 337px;
}

.aside__link {
  color: white;
  text-transform: uppercase;
  font: normal 20px/41px Quantico, Arial, Helvetica, sans-serif;
}

.aside__link-container {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.aside__link {
  display: inline-block;
  cursor: default;
}

.list-fixed__image-block {
  height: 143px;
  overflow: hidden;
  position: relative;
}

.list-fixed__text {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 12px 16px;
  font: 18px/22px Quantico, Arial, Helvetica, sans-serif;
  color: red;
  text-transform: uppercase;
  box-sizing: border-box;
  z-index: 1;
}

.list-fixed__text::before {
  content: "";
  width: 100%;
  height: 46px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, #0f0a0f, rgba(0, 0, 0, 0));
  z-index: -1;
}

.list-fixed__list a:hover {
  text-decoration: underline;
}

.list-fixed__list a {
  padding: 0 16px;
  color: red;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font: 15px/26px Plumb, Arial, Helvetica, sans-serif;
  line-height: 38.2px;
}

.list-fixed__list a:nth-child(2n + 1) {
  background-color: #1f2428;
}

.list-fixed__list a:nth-child(2n) {
  background-color: #262b2f;
}

.aside__body-link {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.aside__body-list ol {
  margin: 0;
  padding: 7px 0 0 0;
}

.aside__body-list li {
  padding: 0 20px;
  color: #a9aeb3;
  box-sizing: border-box;
  height: 34px;
  font: 16px/26px Plumb, Arial, Helvetica, sans-serif;
  line-height: 33px;
  counter-increment: li;
}

.aside__body-list li::before {
  content: counter(li);
  width: 38px;
  display: inline-block;
  font: 16px Quantico, Arial, Helvetica, sans-serif;
}

.aside__body-list li:nth-child(2n-1) {
  background-color: #262b2f;
}

.aside__body-list li:nth-child(2n) {
  background-color: #1f2428;
}

.aside__body-list {
  background-color: #1f2428;
  height: 520px;
}

.information-notice__body {
  display: flex;
}

.information-notice__bottom-link {
  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;
}

.information-notice__bottom-image-block {
  background-color: #1f2428;
  min-height: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 18px 0;
}

.information-notice__bottom-image {
  background: url(image/soc_icons.png);
  width: 64px;
  height: 64px;
  margin: 0 12px;
}

.information-notice__bottom-image:hover {
  filter: brightness(300%);
}

.es {
  background-position-x: 210px;
}

.tk {
  background-position-x: 140px;
}

.in {
  background-position-x: -210px;
}

.yt {
  background-position-x: -280px;
}

.th {
  background-position-x: 280px;
}

.dc {
  background-position-x: 420px;
}

.fm {
  background-position-x: 70px;
}

@media screen and (max-width: 760px) {
  .news-block__inform {
    display: none;
  }

  .information-notice__aside {
    width: 100%;
  }

  .information-notice__slider-container {
    display: none;
  }

  .aside__body {
    display: none;
  }

  .information-notice__news-link {
    display: none;
  }

  .information-notice__body {
    flex-direction: column;
  }

  .information-notice__container {
    width: 100%;
  }

  .information-notice__information-block {
    flex-direction: column;
    height: 100%;
    width: 99.9%;
  }

  .information-block__column {
    width: 100%;
    flex-direction: row-reverse;
    margin-bottom: 1px;
    border-right: none;
    justify-content: flex-end;
  }

  .information-block__column-inform {
    width: 60%;
  }

  .aside__link-container {
    justify-content: flex-start;
  }

  .aside__link {
    padding: 10px 0;
  }

  .list-fixed__image-block {
    height: 100%;
  }

  .aside__content-block {
    height: 100%;
  }
}

